<header ng-controller="searchController">
    <div class="row text-left" id="top-header">
        <div class="col-md-6 col-md-offset-4">
            <h5><em>WELCOME TO BOOKSTORE SHARING! WE GET, WE SHARE AND WE HAVE EVERYTHING.</em></h5>
        </div>
        <div class="col-md-2">
            <div class="header-button">
                <a href="./index.html#/sharebook">&nbsp; SHARE &nbsp; <i class="fa fa-share-alt"></i>&nbsp;</a>
            </div>
            <div class="header-button">
                <a href="./index.html#/home">&nbsp; HOME &nbsp; <i class="fa fa-home"></i>&nbsp;</a>
            </div>
        </div>
    </div>
    <div id="main-header">
        <div id="logo-books">BOOK</div><div class="change-color">S</div>
        <div id="logo-sas"><u>STORE & SHARING</u></div>
        <div class="searchbox">
            <input type="text" id="searchtext" placeholder="Search entire store here..." ng-model="searchvalue" ng-enter="searchBook()" />
            <i class="fa fa-search"></i>
        </div>
        <h5>
            Search ebook by: &nbsp;
            <label><input type="radio" id="type" name="type" checked="checked" ng-model="stype.type" value="stag" ng-enter="searchBook()" /> &nbsp; Tag &nbsp;</label>
            <label><input type="radio" id="type" name="type" ng-model="stype.type" value="sname" ng-enter="searchBook()" /> &nbsp; Name </label>
        </h5>
    </div>
</header>