<div ng-controller="detailController">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-danger">{{book.BookName}}</h3>
        </div>
        <div class="col-xs-12">
            <h4><em>{{book.BookTitle}}</em></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="col-xs-12">
                <h4 class="text-primary">Book description</h4>
                <span>{{book.BookDescription}}</span>
            </div>
            <div class="col-xs-12">
                <h4 class="text-primary">Book detail</h4>
                <dl class="dl-horizontal">
                    <dt class="text-left">Publisher:</dt>
                    <dd>{{book.Publisher}}</dd>
                    <dt>By:</dt>
                    <dd>{{book.Artist}}</dd>
                    <dt>Year:</dt>
                    <dd>{{book.Year}}</dd>
                    <dt>Pages:</dt>
                    <dd>{{book.Pages}}</dd>
                    <dt>Language:</dt>
                    <dd>{{book.Language}}</dd>
                    <dt>File size:</dt>
                    <dd>{{book.EbookSize}}</dd>
                    <dt>File format:</dt>
                    <dd>{{book.EbookFormat}}</dd>
                </dl>
                <h4 class="text-primary">Link download</h4>
                <dl class="dl-horizontal">
                    <dt>Download ebook:</dt>
                    <dd><a href="{{book.EbookUrl}}">{{book.BookName}}</a></dd>
                </dl>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 text-center center-block">
            <img class="img-responsive" src="{{book.ImageUrl}}" onerror="this.onerror = null; this.src = './assets/img/imagenotfound.png';" />
        </div>
    </div>
</div>