// Define color
$color1: #000000;
$color2: #303F42;
$color3: #55676A;
$color4: #6C7A7D;
$color5: #FFFFFF;
$color6: #EEC015;
$colorheader: #DFDFDF;
$colorfooter: #F3F3F3;

$mainfont: Arial, Helvetica, sans-serif;

$font-oswald: 'Oswald', sans-serif;

$list-engine: -webkit, -moz, -ms, -o;

//=============================//
//============ MIXIN ==========//
//=============================//

@mixin keyframes($animation-name) {
    @-webkit-keyframes
    $animation-name

{
    @content;
}

@-moz-keyframes
$animation-name

{
    @content;
}

@-o-keyframes
$animation-name

{
    @content;
}

@keyframes
$animation-name

{
    @content;
}

}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@mixin color_gradient($colorinput1, $colorinput2) {
    @each $engine in $list-engine {
        background: #{$engine}-linear-gradient($colorinput1, $colorinput2);
        #{$engine}-background-clip: text;
        #{$engine}-text-fill-color: transparent;
    }
}

@include keyframes (colorchange) {
    0% {
        color: $color1;
    }

    90% {
        color: $color6;
    }
}

//=============================//
//============= CSS ===========//
//=============================//
/*html{    
    background: -webkit-linear-gradient(180deg, $colorbg2, $colorbg1, $colorbg2);
    background: -moz-linear-gradient(180deg, $colorbg2, $colorbg1, $colorbg2);
    background: -ms-linear-gradient(180deg, $colorbg2, $colorbg1, $colorbg2);
    background: -o-linear-gradient(180deg, $colorbg2, $colorbg1, $colorbg2);
}*/



body {
    font-family: $font-oswald;
}

header {
    height: 250px;
    background-color: $colorheader;
}

h1, h2, h3, h4 {
    font-family: $font-oswald;
}

span{
    font-family: $mainfont;
}

ul, li {
    padding: 0;
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#top-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $color1;
    text-align: center;
    color: $color5;
    display: inline-block;
    z-index: 999;
}


#addnew {
    display: inline-block;
    padding-top: 3px;
    float: right;
    font-family: $font-oswald;
    height: 28px;
    border-radius: 4px;
    border: solid transparent 1px;
    cursor: pointer;
    margin-top: 3px;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

#addnew:hover {
    background-color: $color4;
}

#top-header h5 {
    font-weight: bold;
    font-size: 12px;
    float: left;
    text-align: center;
}

#main-header {
    text-align: center;
    font-family: $font-oswald;
    padding: 20px 0;
}

#logo-books {
    margin-top: 40px;
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
    @include color_gradient($color4, $color1);
}

.change-color {
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
    @include animation('colorchange 0.5s linear 0.5s infinite alternate');
}

#logo-sas {
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: -12px;
}

.searchbox {
    margin-top: 20px;
    width: 300px;
    height: 28px;
    font-family: $mainfont;
    margin-left: auto;
    margin-right: auto;
    background-color: $color5;
}

#searchtext {
    width: 90%;
    height: 100%;
    border: none;
    outline: 0;
    color: $color3;
}

#searchlogo {
    width: 10%;
    border: none;
}

.group-book {
    padding: 0;
}

.group-book ul {
    display: inline-block;
    list-style: none;
    width: 100%;
}

.group-book ul li {
    display: inline-block;
    float: left;
}

.book-thumb {
    min-height: 300px;
    max-width: 20%;
    padding: 0 15px;
    cursor: pointer;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.book-thumb > a > img {
    //box-shadow: 5px 5px 5px $color4;
    min-height: 300px;
}

.book-thumb:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.book-group-title {
    margin: 25px 0;
}

footer {
    margin-top: 30px;
    //padding: 30px 0;
    background-color: $colorfooter;
    border-top: 1px $colorheader solid;
}

.footer-group {
    /*border-left: 1px $color4 solid;
    border-right: 1px $color4 solid;*/
    cursor: pointer;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.footer-group:hover {
    background-color: $color4;
    color: $color5;
}

label {
    font-weight: normal !important;
}

.book-name {
    width: 198px;
    height: 100px;
    background-color: #000000;
    opacity: 1;
    position: absolute;
    bottom: 0;
    z-index: 999;
}

.copyright{
    background-color: $color4;
    color: $color5;
}